<div class='main__content'>

  <div class='main__div'>
    <div>
      <a href='/company/{{id}}'><img
          src='/images/{{company_name}}.png'
          width='100px'
        /></a>

    </div>

    <a href='/company/{{id}}'> {{company_name}} </a>

  </div>
  <div class='main__reviews'>
    Total Reviews
    {{reviews.length}}

  </div>

</div>