<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Review
  </h2>
  <form class="edit-review-form">
    <div>
      <input name="reviews-title" type="text" value="{{reviews.id}}" />
    </div>
    <div>
      <textarea name="reviews-text">{{reviews_text}}</textarea>
    </div>
    <div>
      Posted by you on {{format_date reviews.created_at}}
      |
      <a href="/reviews/{{reviews.id}}">{{reviews.length}} {{format_plural "Reviews" reviews.length}}</a>
    </div>
    <button type="submit">Save review</button>
    
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">review</button>
  </div>
</form>

{{> reviews }}

<!--Scripts-->
<script src="/javascript/edit-reviews.js"></script>
<script src="/javascript/Reviews.js"></script>