{{!-- {{#if data.length}}
<section>
  <h2>Companies</h2>
  <ol>
    {{#each data as |i|}}
    <li>
      {{!-- {{> post-info post}} --}}
{{!-- <button>
      {{ this.company_name }}
      </button>
      <a href="/dashboard/edit/{{this.is}}" class="edit-link">Edit post</a><
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}  --}}

{{!-- <div class='main__div'>
    <div>
      <a href='/company/{{id}}'><img
          src='/images/{{company_name}}.png'
          width='100px'
        /></a>

    </div>

   

  </div>
  <div class='main__reviews'>
    {{company_name}}
    has
    {{reviews.length}}
    reviews
  </div> --}}

{{#if review.length}}
  <section>
    <h2>Reviews</h2>
    <ol>
       
       {{#each review as |i|}}
        <li>
          {{!-- {{> post-info post}} --}}
      <div>
        <a href='/company/{{id}}'><img src='/images/{{company_name}}.png' width='100px'/></a>
      </div>
          <a href='/company/{{id}}'> {{company_name}} </a>
          {{this.reviews_text}}
          <a href='/dashboard/edit/{{this.is}}' class='edit-link'>Edit</a>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}