<div class="benefits-wrapper">
  <div class="review-img">
    <img src='/images/{{companies.company_name}}.png' width='100px'/>
  </div>
  
  <div id="company-name">
  
    {{companies.company_name}} Benefits
  </div>

  <div id="company-benefits">
    {{#each companies.benefits}}

    {{benefit_name}}
      <br />
    {{/each}}
  </div>
  
  

</div>
  
 {{#if loggedIn}}
<form class="review-form">
  <div class="review-wrapper">
    <div class="review-row">
      
      <textarea name="review-body" id="textarea"></textarea>
    </div>

    <div class="review-btn">
      <button type="submit" id="btn">Add Review</button>
    </div>
  </div>
  
</form>

<div class="review-rating">
  <div>
    This company has {{companies.reviews.length}} reviews.
  </div>

  <div id="avg">
    The average rating for this company is {{ avg }}
    {{ companies.ratings.rating_value }}
  </div>
</div>


<div class="container">
    <div class="rating-wrap">
        <h2>Company Rating</h2>
            <div class="center">
                <fieldset class="rating">
                    <input type="radio" id="5star" name="rating" value="5"/><label for="5star" class="full"></label>
                    <input type="radio" id="4.5star" name="rating" value="4.5"/><label for="4.5star" class="halffull"></label>
                    <input type="radio" id="4star" name="rating" value="4"/><label for="4star" class="full"></label>
                    <input type="radio" id="3.5star" name="rating" value="3.5"/><label for="3.5star" class="halffull"></label>
                    <input type="radio" id="3star" name="rating" value="3"/><label for="3star" class="full"></label>
                    <input type="radio" id="2.5star" name="rating" value="2.5"/><label for="2.5star" class="halffull"></label>
                    <input type="radio" id="2star" name="rating" value="2"/><label for="2star" class="full"></label>
                    <input type="radio" id="1.5star" name="rating" value="1.5"/><label for="1.5star" class="halffull"></label>
                    <input type="radio" id="1star" name="rating" value="1"/><label for="1star" class="full"></label>
                    <input type="radio" id="0.5star" name="rating" value="0.5"/><label for="0.5star" class="halffull"></label>
                </fieldset>
            </div>
    <h4 id="rating-value"></h4>
            
    </div>
    
</div>
  {{/if}}  


  <div class="reviews-container">
  {{> reviews companies.reviews}}
  </div>







        
<script src="/javascript/star-rating.js"></script>
{{#if loggedIn}}
<script src="/javascript/add-review.js"></script>
{{/if}}

    
